<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>427905189558-gibjigjan6jm75h13d0k6tihcuh4itig.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.427905189558-gibjigjan6jm75h13d0k6tihcuh4itig</string>
	<key>API_KEY</key>
	<string>AIzaSyAqci2_7FglymHshXb5IfYygCy7sL4A2_E</string>
	<key>GCM_SENDER_ID</key>
	<string>427905189558</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>es3.mathgame.mathGame</string>
	<key>PROJECT_ID</key>
	<string>math-game-es3</string>
	<key>STORAGE_BUCKET</key>
	<string>math-game-es3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:427905189558:ios:da190d84be81e1281dc817</string>
</dict>
</plist>